.comingsoon-form {
  &.is-loading {
    pointer-events: none;
    opacity: 0.5;
  }

  &.is-error {
    .comingsoon-form__error-message {
      display: block;
    }
  }

  &.is-success {
    .comingsoon-form__success-message {
      display: block;
    }
  }

  &__error-message {
    color: red;
    margin-top: -20px;
    margin-bottom: 20px;
    display: none;
  }

  &__success-message {
    color: green;
    margin-top: -20px;
    margin-bottom: 20px;
    display: none;
  }
}
